body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(454deg, #4f4080, #d41bd7);
    color: white;
}

.header {
    width: 100% ;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.slide1{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(454deg, #e96bd2, #bc0f34);
    scroll-snap-align: start;
}
.slide1 h1 {
    font-size: 80px;
    font-weight: 600px;
    max-width: 650px;
}

.slide1 p {
    font-size: 30px;
    text-align: center ;
    display: flex;
    justify-content: center;
}
.about-me{
    width: 100%;
    height: 100vh;
}
.slide2{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(454deg, #755ec0, #8a017e);
    scroll-snap-align: start;
}
.slide2 h2{
    font-size: 80px;
    font-weight: 600px;
    max-width: 650px;

}
.slide2 p {
    font-size: 30px;
    text-align: center ;
    display: flex;
    justify-content: center;
    width:750px;
}
.slide3{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(454deg, #cf5052, #840bc0);
    scroll-snap-align: start;
}

.slide3 h2{
    font-size: 80px;
    font-weight: 600px;
    max-width: 650px;
}
.slide4{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(454deg, #a8b767, #d41bd7);
    scroll-snap-align: start;
}
.slide4 h2{
    font-size: 80px;
    font-weight: 600px;
    max-width: 650px;
}
.slide5{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(454deg, #dc5ad1, #3e1bd7);
    scroll-snap-align: start;
}
.slide5 h2{
    font-size: 80px;
    font-weight: 600px;
    max-width: 650px;
}
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-slide {
    display: none;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5em;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.slide6{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(454deg, #5bc3c8, #94e524);
    scroll-snap-align: start;
}
.slide6 h2{
    font-size: 80px;
    font-weight: 600px;
    max-width: 650px;
}
@media (min-width: 600px) {
    .slide1 h1 {
        font-size: 6vw;
    }

    .slide1 p, .slide2 p, .slide3 ul, .slide4 ul, .slide5 ul, .slide6 ul {
        font-size: 3vw;
    }
}

@media (min-width: 900px) {
    .slide1 h1 {
        font-size: 4vw;
    }

    .slide1 p, .slide2 p, .slide3 ul, .slide4 ul, .slide5 ul, .slide6 ul {
        font-size: 2vw;
    }
}